html body {
  margin: none;
  padding: none; }
  html body .card {
    background: linear-gradient(rgba(233, 233, 7, 0.884), black);
    font-family: 'Combo', cursive;
    font-family: 'Orbitron', sans-serif; }
    html body .card .card-header {
      padding: 0%; }
      html body .card .card-header .row {
        justify-content: center;
        align-items: center;
        background: black;
        margin: 0%;
        padding: 0%;
        height: 30vh; }
        html body .card .card-header .row .header-desktop .navbar .container-fluid .navbar-collapse .navbar-nav {
          justify-content: space-around;
          width: 50%; }
          html body .card .card-header .row .header-desktop .navbar .container-fluid .navbar-collapse .navbar-nav .nav-link {
            color: yellow;
            font-size: 1.3rem;
            padding: 16px 25px 16px 25px;
            box-sizing: border-box;
            text-align: center;
            white-space: nowrap;
            margin-right: 5px; }
    html body .card .header-mobile nav {
      padding: 0; }
      html body .card .header-mobile nav .container-fluid {
        padding: 0%;
        background-color: black; }
    html body .card .card-main .carousel-item > img {
      width: 100vw;
      height: 600px;
      padding-left: 20px;
      padding-right: 20px; }
    html body .card .card-main .card-conteudo {
      align-items: center;
      margin: 0px 30px 5px 40px;
      font-size: 1rem; }
      html body .card .card-main .card-conteudo .card-title {
        font-size: 1.2rem;
        color: whitesmoke;
        padding-top: 12px; }
      html body .card .card-main .card-conteudo .card-text {
        font-size: 1rem;
        color: whitesmoke;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
    html body .card .card-footer footer p {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: xx-small;
      color: yellow;
      text-align: center; }
  @media screen and (min-width: 769px) {
    html body #conteudoMenu .navbar-collapse {
      display: block; }
    html body .header-mobile {
      display: none; }
    html body .card-header {
      display: ""; } }
  @media screen and (max-width: 768px) {
    html body .card-header .row {
      justify-content: center; }
    html body .conteiner-fluid .navbar-brand {
      position: static; }
    html body .navbar-nav col-8 {
      width: 50%; }
    html body .navbar-nav .nav-link {
      color: yellow; }
    html body .card-header {
      display: none; }
    html body .header-mobile {
      display: ""; }
    html body .carousel-item > img {
      width: 100vw;
      height: 500px; } }
