$yellow:#ffc918;
$white-text: #ded7c0;

html {
    body {
        margin: none;
        padding: none;

        .card {
            background: linear-gradient($yellow, black);
            font-family: 'Combo', cursive;
            font-family: 'Orbitron', sans-serif;

            .card-header {
                padding: 0%;

                .row {
                    justify-content: center;
                    align-items: center;
                    background: black;
                    margin: 0%;
                    padding: 0%;
                    height: 30vh;

                    .header-desktop {
                        .navbar {
                            .imglogo {
                                width: 170px;
                                height: 150px;
                                padding-left: 20px;
                            }

                            .container-fluid {
                                .navbar-collapse {
                                    .navbar-nav {
                                        justify-content: space-around;

                                        .nav-link {
                                            color: $yellow;
                                            font-size:1.7rem;
                                            padding:0;
                                            box-sizing: border-box;
                                            text-align: center;
                                            white-space: nowrap;
                                            margin:  16px 25px 16px 25px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .header-mobile {
                nav {
                    padding: 0;

                    .container-fluid {
                        padding: 0%;
                        background-color: black;

                        
                        .offcanvas {

                            .offcanvas-header {
                                background-color: $yellow;

                                .btn-close .btn-close-black {
                                    margin-right: 20px;

                                }

                                .offcanvas-title {
                                    font-size: 2rem;
                                    font-style: bold;
                                    font: black;
                                }
                            }

                            .offcanvas-body {
                                background-color: black;

                                .navbar-nav {
                                    font-size: 1.2rem;

                                    .nav-link.active {
                                        color: $yellow;
                                    }
                                }

                            }

                            .navbar-nav {

                                .nav-item {
                                    --bs-nav-link-padding-x: 1rem;
                                    --bs-nav-link-padding-y: 1rem;
                                }
                            }
                        }

                        .imglogo {
                            width: 170px;
                            height: 150px;
                            padding-left: 10px;
                        }


                    }
                }
            }

            .card-main {

                .card-conteudo {
                    align-items: center;
                    margin: 5px 40px 5px 40px;

                    .card-title {
                        font-size: 3.5rem;
                        text-align: center;
                        padding: 0;
                        color: $yellow;
                        display: block;
                    }

                    .card-text {
                        font-size: 1.3rem;
                        color: $white-text;
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    }
                }
            }

            .card-footer {
                footer {
                    p {
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        font-size: small;
                        color: $yellow;
                        text-align: center;
                    }
                }
            }
        }

        @media screen and (min-width: 769px) {
            #conteudoMenu .navbar-collapse {
                display: block;
            }

            .header-mobile {
                display: none;
            }

            .card-header {
                display: "";
            }
        }

        @media screen and (max-width: 768px) {

            .card-header .row {
                justify-content: center;
            }

            .navbar-nav col-8 {
                width: 50%;
            }

            .navbar-nav .nav-link {
                color: $yellow;
            }

            .card-header {
                display: none;
            }

            .header-mobile {
                display: "";
            }
        }
    }
}