body {
    .card {
        .card-main {
            .card-conteudo {
                h1 .card-title {
                    padding: 0;
                    margin-top: 150px;
                }
            }
        }
    }
}