.card-main {
    .card-conteudo {
        .container {
            color: #ded7c0;
            font-weight: bolder;

            .first {
                .logo {
                    .nickname {
                        color: #ffc918;
                    }
                }
                .description {
                    line-height: 10px;
                    padding: 0;
                    margin-left: -7%;
                    color: black;
                }
            }

            .second {
                .logo {
                    color: black;
                }
                .description {
                    line-height: 10px;
                    padding: 0;
                    margin-left: -7%;
                    color: #ffc918;

                }
            }
        }
    }
}