html body .card .card-main .card-conteudo h1.card-title {
  margin: 30px 0 30px 0; }

html body .card .card-main .card-conteudo .container.text-center .row {
  margin: 30px 40px; }

html body .card .card-main .card-conteudo .container.text-center .card-text {
  margin: 30px 0px 40px 0px; }
