.conteudo__titulo {
    padding: 5px 30px 5px 30px;
    text-align: center;
}

.conteudo__texto {
    border: 2px black dashed;
    margin: 20px 30px 20px 30px;
    font-size: 1rem;
    color: black;
    padding: 5px 30px 5px 30px;
}