html {
  margin: 0;
  padding: 0;
  background-color: linear-gradient(rgba(233, 233, 7, 0.884), black); }
  html body {
    margin: none;
    padding: none; }
    html body .card {
      font-style: 'Combo', 'Times New Roman'; }
      @media (min-width: 290px) and (max-width: 768px) {
        html body .card .card-header .row .header-mobile .header-desktop {
          display: ""; }
        html body .card .card-header .row .header-mobile .navbar .container-fluid {
          padding: 0%;
          background-color: black; }
          html body .card .card-header .row .header-mobile .navbar .container-fluid .imglogo {
            width: 20%;
            height: 20%;
            padding-left: 20px; }
          html body .card .card-header .row .header-mobile .navbar .container-fluid .navbar-toggler {
            margin-right: 20px;
            color: yellow; }
            html body .card .card-header .row .header-mobile .navbar .container-fluid .navbar-toggler .navbar-toggler-icon {
              color: yellow; }
          html body .card .card-header .row .header-mobile .navbar .container-fluid .offcanvas .offcanvas-header {
            background-color: yellow; }
            html body .card .card-header .row .header-mobile .navbar .container-fluid .offcanvas .offcanvas-header .btn-close .btn-close-black {
              margin-right: 20px; }
            html body .card .card-header .row .header-mobile .navbar .container-fluid .offcanvas .offcanvas-header .offcanvas-title {
              font-size: 2rem;
              font-style: bold;
              font: black; }
          html body .card .card-header .row .header-mobile .navbar .container-fluid .offcanvas .offcanvas-body {
            background-color: black; }
            html body .card .card-header .row .header-mobile .navbar .container-fluid .offcanvas .offcanvas-body .navbar-nav {
              font-size: 1.3rem; }
              html body .card .card-header .row .header-mobile .navbar .container-fluid .offcanvas .offcanvas-body .navbar-nav .nav-link.active {
                color: yellow; }
          html body .card .card-header .row .header-mobile .navbar .container-fluid .offcanvas .navbar-nav .nav-item {
            --bs-nav-link-padding-x: 1rem;
            --bs-nav-link-padding-y: 1rem; } }
      @media (min-width: 768px) and (max-width: 1399.98px) {
        html body .card .card-header .row .header-desktop .header-mobile {
          display: ""; }
        html body .card .card-header .row .header-desktop .nav .imglogo {
          width: 20%;
          height: 20%;
          padding-left: 20px; } }
      html body .card .card-header .card-header .row {
        justify-content: center; }
      html body .card .card-header .conteiner-fluid .navbar-brand {
        position: static; }
      html body .card .card-header .navbar-nav col-8 {
        width: 50%; }
      html body .card .card-header .card-header {
        display: none; }
      html body .card .card-header .header-mobile {
        display: ""; }
      html body .card .card-header .carousel-item > img {
        width: 100vw;
        height: 500px; }
      html body .card .navbar .container-fluid .navbar-collapse .navbar-nav {
        justify-content: space-around; }
        html body .card .navbar .container-fluid .navbar-collapse .navbar-nav .nav-link {
          color: yellow;
          font-size: 1.3rem;
          padding: 16px 25px 16px 25px;
          box-sizing: border-box;
          text-align: center;
          white-space: nowrap;
          margin-right: 5px; }

.card-main .carousel-item > img {
  width: 100vw;
  height: 600px;
  padding-left: 20px;
  padding-right: 20px; }

.card-main .card-conteudo {
  align-items: center;
  margin: 0px 30px 5px 40px;
  font-size: 1rem; }
  .card-main .card-conteudo .card-title {
    font-size: 1.2rem;
    color: whitesmoke;
    padding-top: 12px; }
  .card-main .card-conteudo .card-text {
    font-size: 1rem;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

.card-footer footer p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: xx-small;
  color: yellow;
  text-align: center; }
