html body .card{
    margin: none;
    padding: none;
    background: linear-gradient(rgba(233, 233, 7, 0.884), black);
    font-family: 'Combo', cursive;
    font-family: 'Orbitron', sans-serif;
}

.navbar-collapse .navbarNavAltMarkup {
    background: black;
    padding: 0%;
}
.nav-link {
    color: yellow;
    font-size: 1.3rem;
    padding: 16px 25px 16px 25px;
    box-sizing: border-box;
    text-align: center;
    white-space: nowrap;
    margin-right: 5px;
}

nav.navbar.navbar-dark.bg-dark.static-top {
    display: none;
}