html body .card {
    background: linear-gradient(rgba(233, 233, 7, 0.884), black);
    font-family: 'Combo', cursive;
    font-family: 'Orbitron', sans-serif;
}

body {
    margin: none;
    padding: none;

}

.container-fluid {
    padding: 0%;
}

.card-header .row {
    background: black;
    margin: 0%;
    padding: 0%;
    height: 30vh;

}

.card-header {
    padding: 0%;
}

.imglogo {
    width: 170px;
    height: 150px;
    padding-left: 20px;
}

.row {
    justify-content: center;
    align-items: center;
}

.navbar-nav {
    justify-content: space-around;
}

.navbar-collapse .navbarNavAltMarkup {
    background: black;
    padding: 0%;
}

.navbar-nav .nav-link {
    color: yellow;
    font-size: 1.3rem;
    padding: 16px 25px 16px 25px;
    box-sizing: border-box;
    text-align: center;
    white-space: nowrap;
    margin-right: 5px;
}

.navbar-nav col-8 {
    width: 50%;
}

.carousel-item {
    width: 100vw;
    height: 100vh;
}

img .d-block.w-100 {
    padding-left: 20px;
    padding-right: 20px;
}

.card-conteudo {
    align-items: center;
    margin: 0px 30px 5px 40px;
    font-size: 1rem;
}

.card-title {
    font-size: 1.2rem;
    color: whitesmoke;
    padding-top: 12px;

}

.card-text {
    font-size: 1rem;
    color: whitesmoke;
}

.card-conteudo p {
    font-size: 1rem;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-footer footer p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-small;
    color: yellow;
    text-align: center;
}

.header-mobile nav{
    padding: 0;
}


.header-mobile nav .container-fluid {
    background-color: black;
}

@media screen and (min-width: 769px) {
    #conteudoMenu .navbar-collapse {
        display: block;
    }
    
    .header-mobile {
        display: none;
    }

    .header-desktop {
        display: "";
    }
}

@media screen and (max-width: 768px) {

    .card-header .row {
        justify-content: center;
    }

    .navbar-nav .nav-link {
        color: yellow;
    }

    .carousel-item {
        width: 100vw;
        height: 100vh;
    }

    .header-desktop {
        display: none;
    }

    .header-mobile {
        display: "";
    }

}