
.conteudo img {
    width: 100%;
    height: 40vh;
}

@media screen and (min-width: 600px) {
    .conteudo img {
        width: 100%;
        height: 40vh;
    }
}

.conteudo__titulo {
    padding: 5px 30px 5px 30px;
    text-align: center;
}

.conteudo__apresentacao {
    font-size: 1rem;
    color: black;
    padding: 5px 30px 5px 30px;
}