body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer {
    text-align: center;
}

li {
    display: inline;
}

nav {
    text-align: center;
}

div {
    margin: auto;
    width: 50%;
}


th {
    font-size: 2em;
}

tr {
    text-align: center;
}


.imgPlayer {
    height: 40%;
    width: 40%;
}

.texto {
    margin: auto;
    padding-left: 20%;
}

.textoHome {
    margin: auto;
    text-align: center;
}

.img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 50%;
    width: 50%;
}

.imgSponsor {
    height: 100px;
    width: 100px;
}

.tablePlayers {
    margin: auto;
    padding-right: 30%;
}

.contact {
    margin: auto;
    padding-left: 30%;
}