html body .card-main .card-conteudo .container {
  color: #ded7c0;
  font-weight: bolder; }
  html body .card-main .card-conteudo .container .first .logo .nickname {
    color: #ffc918; }
  html body .card-main .card-conteudo .container .first .description {
    line-height: 10px;
    padding: 0;
    margin-left: -7%;
    color: black; }
  html body .card-main .card-conteudo .container .second .logo {
    color: black; }
  html body .card-main .card-conteudo .container .second .description {
    line-height: 10px;
    padding: 0;
    margin-left: -7%;
    color: #ffc918; }

html body .card-main .card-conteudo .titulos {
  --bs-list-group-bg: "";
  --bs-list-group-border-width: 0;
  margin: 0 auto; }
  html body .card-main .card-conteudo .titulos li {
    color: white; }
